@model IEnumerable<June2023_technical.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>Genre</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Author</td>
                    <td>@item.PublicationYear</td>
                    <td>@item.Genre</td>
                    <td>@item.Price</td>
                    <td>
                        <a class="btn btn-secondary" asp-controller="Books" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="Books" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">No data available.</td>
            </tr>
        }
    </tbody>
</table>
