@model IEnumerable<Book>

@{
    ViewData["Title"] = "Books";
    int counter = 1;
}

<h1>Books</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Book</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>Genre</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@counter</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.PublicationYear</td>
                <td>@book.Genre</td>
                <td>@book.Price</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            counter++;
        }
    </tbody>
</table>
